body {
  background: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-shadow: 5px 5px 0px rgba(240, 46, 170, 1);
    text-align: center;
    font-size: 50px;
    color: white;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    outline: none;
    width: 350px;
    height: 70px;
    box-shadow: rgba(148, 148, 148, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  &__box-input {
    outline: none;
    border: none;
    width: 60%;
    font-size: 20px;
  }

  &__box-button {
    border: none;
    background-color: rgba(240, 46, 170);
    color: white;
    padding: 10px 12px;
    font-size: 12px;
    width: 20%;
  }

  &__box-button:hover {
    background-color: rgb(147, 19, 100);
  }

  
}
.container-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 350px;
 
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;

  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid gray;
  }
 
  
  &__form-text{
    outline: none;
    
    width: 60%;
  }
  &__form-pencil {
    color: white;
    background-color: #bde998;
    border: none;
    font-size: 10px;
    text-align: center;
    height: 20px;
    margin-left: 70px;
  }

  &__form-erase {
    color: white;
    background-color: #953bfb;
    border: none;
    font-size: 10px;
    text-align: center;
    height: 20px;
  }
}
